REPO=https://github.com/Jitesh2005/tech_eazy_fullstack_Jitesh2005.git
PORT=8000
INSTANCE_TYPE=t2.micro
AMI_ID=ami-0900588ae829985de       # ✅ Ubuntu 22.04 LTS (Free Tier, ap-south-1 Mumbai)
KEY_NAME=tech-eazy-key             # 🔁 Must match your key pair name in AWS
PEM_FILE_PATH="C:/Users/gupta/Downloads/tech-eazy-key.pem"
SECURITY_GROUP=sg-06e37e81a095df397  # Replace with your Security Group ID
SUBNET_ID=subnet-0167ab8ea736a65b7   # Replace with your Subnet ID
